#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #312e5f;
}

.dark-mode-toggle button {
  font-size: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dark-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 15px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #312e5f;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.icon {
  position: absolute;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
}

body.dark-mode .card.remind-me,
body.dark-mode .card.dark-mode,
body.dark-mode .card.learn-more,
body.dark-mode .card.reminders,
body.dark-mode .card.reminders h3,
body.dark-mode .card.weather,
body.dark-mode .weather-input,
body.dark-mode .card.illustration {
  background-color: #a6a6a6;
  color: #f4f4f4;
}

body.dark-mode .card.dark-mode button {
  color:#f4f4f4
}

body.dark-mode .reminders-container select {
  color:#f4f4f4
}

body.dark-mode .reminders-container select:focus {
  color:#f4f4f4;
  background-color: #a6a6a6;
}

/*Home*/

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 1200px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.remind-me, .reminders, .weather {
  background-color: #e6e6e6;
}

.sign-up {
  background-color: #ff5722;
  color: white;
  position: relative;
}

.dark-mode {
  background-color: #e6e6e6;
  color: black;
}

.clock {
  position: relative;
  background-color: #ff1744;
  color: white;
}

.log-in, .add-reminder {
  background-color: #ff1744;
  color: white;
}

.add-reminder-div {
  padding: 20px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-reminder-div input,
.add-reminder-div textarea,
.add-reminder-div select {
  font-family: 'Arial', sans-serif;
  background-color: transparent;
  color: white;
  width: 100%;
  resize: none;
  border: none;
  font-size: 16px;
}

.add-reminder-div input:focus,
.add-reminder-div textarea:focus,
.add-reminder-div select:focus {
  outline: none;
}

.add-reminder-div select:focus {
  color: white;
  background-color: #ff1744;
}
.add-reminder-div input::placeholder, .add-reminder-div textarea::placeholder {
  color: white;
}

.reminders-container {
  max-height: 350px; 
  max-width: 250px;
  overflow: auto; 
  scrollbar-width: thin; 
  scrollbar-color: #ff1744 #f4f4f4; 
}


.reminders-container select {
  background-color: transparent;
  border: none;
}

.delete-button {
  position: relative;
  cursor: pointer;
  background-color: #ff1744;
  color: #f4f4f4;
  border: none;
  border-radius: 15px;
  margin: 5px;
}

.delete-button:hover {
  background-color: #000000;
}

.reminders-list {
  text-align: left;
  list-style-type: none;
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.reminders-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.reminders-list a:hover {
  border-bottom: 1px dotted #ff1744;
}

.learn-more {
  background-color: #e6e6e6;
  color: black;
}

.card.learn-more span {
 cursor: pointer;
}

.anonymous {
  background-color: #9d1ff6;
  color: white;
}

.illustration {
  background-color: #e6e6e6;
  grid-column: span 1;
}

.illustration img {
  width: 100%; 
  max-width: 300px; 
  top: -40px;
}

.arrow,
.plus {
  font-size: 20px;
  margin-left: 10px;
}

.plus {
  color:#ff1744
}

.card.remind-me {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.pin {
  position: absolute;
  top: -20px;  
  font-size: 30px; 
}

.timer {
  position: absolute;
  top: -20px;
  margin-left: -20px;  
}

a {
  text-decoration: none;
  color: inherit;
}

.register-container, .log-in-container {
  background-color: #f4f4f4; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.register-container input,
.log-in-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.register-container input:focus,
.log-in-container input:focus {
  border-color: #4a90e2; 
  outline: none;
}

/* Estilo para los botones */
.register-container button,
.log-in-container button, .add-reminder-div button {
  background-color: #9d1ff6; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.register-container button:hover,
.log-in-container button:hover {
  background-color: #357ab7; 
}

/* Mensajes de error */
.register-container p,
.log-in-container p {
  color: #9d1ff6;
  font-size: 14px;
  margin-top: 10px;
}

.calendar {
  display: flex;
  flex-direction: column;
  background-color: #9d1ff6;
}

.month {
  color: #f4f4f4;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  background-color: transparent;
  padding: 5px 0;
  border-bottom: 1px solid #ff5722;
}

.day-name {
  font-weight: bold;
  font-size: 0.9rem;
  color: #f4f4f4;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 10px 0;
  color: #fff;
}

.day {
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.day:hover {
  background-color: #ff5722;
  color: #fff;
}

.empty {
  visibility: hidden;
}

.arrow-button {
  background-color: transparent;
  border: none;
  color: #ff5722;
  font-size: 1.5rem;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.arrow-button:hover {
  background-color: #9d1ff6;
  color: #ffffff;
  transform: scale(1.1);
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.arrow-container h2 {
  margin: 0;
  font-size: 1.5rem;
}

.dashboard-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.pomodoro h1{
  color: #f4f4f4;
}

.pomodoro button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
}

.clock-container span {
  cursor: pointer;
  font-size: 25px;
}

.weather-container {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weather-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.weather-input:focus {
  outline: none;
}

.weather-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #9d1ff6;
  color: #f4f4f4;
}

.weather-info {
  margin-top: 20px;
}

.current-weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  width: 50px;
}